@model PickListValue


<div class="form-group xrm-divider">
    Pick List Value
</div>


<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.ModelType)
    @Html.DisplayFor(x => x.FieldName)
</div>


<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.Values)
</div>
