@model IndexViewModel
@{
    ViewBag.Title = Model.ModelDisplayName;
}

<h3>@Model.ModelDisplayName</h3>



<h3>@Html.ActionLink("Create New " + Model.ModelDisplayName, "Create", null, new { @class = "btn btn-primary" })</h3>

@Html.Partial("_List", Model.Items)