@model IEnumerable<BaseModel>
@{
    ViewBag.Title =  Html.Controller();
}

<h3>@Html.Controller()</h3>



<h3>@Html.ActionLink("Create New " + Html.Controller(), "Create", null, new {@class= "btn btn-primary"})</h3>




@(Html.Grid(Model.OrderBy(x => x.Id)).AutoGenerateColumns()
    .Columns(columns =>
    {

        columns.Insert(0, x => x.Id).Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(x => Html.ActionLink(x.Id.ToString(), "Read", new { id = x.Id }));
    })
    .WithPaging(20)
    .Sortable()
    .Filterable()
    .WithMultipleFilters()
)
