@model BaseModel
@{
    
    string controllerName = ViewContext.RouteData.Values["Controller"].ToString();
    ViewBag.Title = Model.ModelDisplayName;
}

<br />

<div class="well" >
    <form class="form-horizontal" >

        <div class="form-group xrm-header" >
            <div class="col-sm-2 xrm-header-label">@Model.ModelDisplayName</div>
            <div class="col-sm-2">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>

        @Html.DisplayForModel()

    </form>
</div>

