@*
Layout template shared by all editor templates
*@
@Html.LabelFor(x => x, new { @class = "control-label col-sm-2" })
<div class="col-sm-3">
    @RenderBody()
    @Html.ValidationMessageFor(x => x)
</div>