@{
    Layout = "_Layout.cshtml";
}
<div class="input-group">
    @Html.TextBoxFor(x => x, new { @class = "form-control", placeholder= "Type to Lookup" })
    <div class="input-group-addon"><a class="glyphicon glyphicon-search"></a></div>
</div>