@model string
@{
    Layout = "~/Views/Shared/EditorTemplates/_Layout.cshtml";
}


@Html.LabelFor( x=>x , new { @class = "control-label col-sm-2" })

<div class="col-sm-3">
    @Html.TextBoxFor(x => x, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x)
</div>