@model XrmUser


<div class="form-group xrm-divider">
    Contact Detail
</div>

<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.UserName)
    @Html.EditorFor(x => x.Email)
</div>


<div class="form-group xrm-detail">
    @Html.EditorFor(x => x.PhoneNumber)
</div>
